.topnav {
    overflow: hidden;
    background-color: #EF3D55;
    /* border-bottom: 2px solid red; */
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    margin: auto;
    display: block;
    transition: top 0.3s;
    font-family: "Gotham Pro";
    font-weight: 200px;
    color: #004789 !important;
}

/* body{
        background-image: url('../images/obama.png'), url('../images/uncleSam.png');
        background-repeat: no-repeat, no-repeat;
        background-size: 50% 100%;
        background-position: left top, right top;
        z-index: 500
} */
.flip {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.jumbotron {
    text-align: center;
    font-size: 25px;
    color: #004789;
    background-color: white
}

a {
    color: #EF3D55;
    cursor: pointer;
}

a:hover {
    zoom: 105%;
    text-decoration: none;
}

#wh2 {
    height: 250px;

}

#actuallyVote {
    position: relative;
    top: 20px;
    padding-bottom: 5px
}

.red {
    color: #EF3D55
}

#or {
    margin-top: 20px;
    margin-bottom: 50px
}

#vote {
    height: 250px;
    position: relative;
    top: 15px
}

#votingPlaces {
    width: 700px
}

#other {
    position: relative;
    top: 50px
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gotham";
    /* background: linear-gradient(-45deg, #004789, #EF3D55, #004789);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite; */
}

button {
    background-color: #EF3D55;
    border-radius: 10px;
    padding: 10px;
    color: #004789;
    position: relative;
    bottom: 10px
}

button:hover {
    zoom: 105%
}

@keyframes typewriter {

    0%,
    100% {
        width: 0;
    }

    20%,
    80% {
        width: 6.7em;
    }
}

@keyframes caret {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#senate {
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #004789;
}

#typewriterSenate {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: inline-block;
    position: relative;
    animation: typewriter;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}

#typewriterSenate::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

#getMitchPic {
    width: 250px;
    border-radius: 7px
}

#rightsPic {
    width: 1500px;
    margin-top: 350px;
    text-align: center;
    border-radius: 5px;
}

#whiteHousePic {
    width: 1500px;
    text-align: center;
    border-radius: 5px;
    margin-top: 350px;
}

.rights {
    border-radius: 5px;
    width: 300px
}

.bidenPic {
    border-radius: 5px;
    height: 300px
}

#bidenPresident {
    width: 300px
}


#nominee {
    position: relative;
    top: 90px;
    right: 60px
}

#fairFightRow {
    margin-top: 50px
}

.topnav-right {
    float: right !important;
}

.topnav a {
    float: left;
    display: block;
    color: #004789;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 30px
}

i {
    color: #004789;
    font-size: 25px;
    margin-right: 20px;
}

.topnav a:hover {
    background-color: #004789;
    color: #EF3D55
}

.topnav a.active {
    background-color: #004789
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav-right {
        float: left !important;
    }

    #bigHeader {
        display: none
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #004789;
    /* border-top: #EF3D55 2px solid; */
    color: #EF3D55;
    text-align: center;
    font-weight: bold;
    font-family: "Gotham Pro";
    padding: 15px;

}

#headerImg {
    width: 150px;
    height: auto;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footerImg {
    width: 120px;
    height: auto
}

#headImage {
    width: 375px;
    height: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.fade-in {
    -webkit-animation: fade 3s alternate infinite;
    animation: fade 3s alternate infinite;
    display: block;
}